.App {
  text-align: center;
}

.App-header {
  background-color: white;
  padding: 20px;
  color: #282c34;
}

/* Styles pour le mode sombre */
.dark-mode .App-header {
  background-color: #282c34;
  color: white;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}
